<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title><%= DATA_META.title %> - <%= title %></title>
  <style><%= styleText %></style>
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/view/index/index.html">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        <% DATA_NAV.forEach(function(v){ %>
          <li class="<%= categories==v.categories ? 'active' : '' %>">
            <a href="/view/<%= v.categories %>/index.html"><%= v.text %></a>
          </li>
        <% }) %>
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="<%= DATA_META.githubLink %>"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  <% if (type == 'list') { %>
    <ul class="list">
      <%- content %>
    </ul>
  <% } else { %>
    <% if (categories == 'assemble') { %>
      <div class="p-<%= path.toLocaleLowerCase() %>">
        <%- content %>
      </div>
    <% } else { %>
      <div class="markdown">
        <%- content %>
      </div>
    <% } %>
  <% } %>
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-<%= new Date().getFullYear() %> Shuoshubao.com 版权所有 <%= DATA_META.registration %></span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="<%= DATA_META.githubLink %>"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
